table.a {
  table-layout: fixed;
  width: 100%;  
}

  table {
    border-collapse: collapse;
    border: 1px solid black;
  } 
  
  th,td {
    border: 1px solid black;
    padding: 10px;
  }

  .contenedor {
    
    margin: 0 auto;
  }

  .cabecera {
    height: 100px;
 }

 .cabecera h1 {
    text-align: center;
    line-height: 100px;
    
 }

 .buscador {
  
   text-align: center;
   margin: auto;
   width: 60%;
   padding: 50px;
   
 }